body
{
	background-color: #ff9f80;
}

section
{
	font-family: 'Press Start 2P', cursive;
	color: #4d2d00;
	text-align: center;
	padding: 100px;
}
* {box-sizing: border-box;}
#gallery {font-family: Verdana, sans-serif; background-image:url("back.jpeg");}
.mySlides {display: none;}
img {vertical-align: middle;
width:  1000px;
height: 500px;
}
.slideshow-container {
  width:  1000px;
  height:500px;
  position: relative;
  margin:auto;
  background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	overflow: hidden;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.location {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  .prev, .next,.text {font-size: 11px}
}
